{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Lists</h2>
        <ul class="list-group mb-4">
          <li style="color: blue; font-size: 35px;"><p style="color:blue; margin:0, size=20px">To Do</li>
          {% for card in view_model.to_do_items %}  
              <ul class="list-group mb-4">
                  <li style="color: blue; font-size: 25px;">{{ card['name'] }} </li>  
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress', card_id=card['identifier'], name=card['name'])}}"> Move to in Progress </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress_to_done', card_id=card['identifier'], name=card['name'])}}"> Move to Done </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('delete', card_id=card['identifier'])}}"> Delete </a> 
                  </button>
              </ul>
          {% endfor %} 
        </ul>
        <ul class="list-group mb-4">
          <li style="color: blue; font-size: 35px;"><p style="color:blue; margin:0, size=20px">In Progress</li>
          {% for card in view_model.doing_items %}  
              <ul class="list-group mb-4">
                  <li style="color: blue; font-size: 25px;">{{ card['name'] }} </li>  
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress', card_id=card['identifier'], name=card['name'])}}"> Move to in Progress </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress_to_done', card_id=card['identifier'], name=card['name'])}}"> Move to Done </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('delete', card_id=card['identifier'])}}"> Delete </a> 
                  </button>
              </ul>
          {% endfor %} 
        </ul>
        <!-- done -->
        <ul class="list-group mb-4">
          <li style="color: blue; font-size: 35px;"><p style="color:blue; margin:0, size=20px">Done</li>
            <button >
              <a style=text-decoration:none href="{{url_for('recent_done')}}"> Recently Done Item </a> 
            </button>
          {% for card in view_model.done_items %}  
              <ul class="list-group mb-4">
                  <li style="color: blue; font-size: 25px;">{{ card['name'] }} </li>  
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress', card_id=card['identifier'], name=card['name'])}}"> Move to in Progress </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress_to_done', card_id=card['identifier'], name=card['name'])}}"> Move to Done </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('delete', card_id=card['identifier'])}}"> Delete </a> 
                  </button>
              </ul>
          {% endfor %} 
        </ul>
    </div>
  </div>
  <div>
    <button >
      <a style=text-decoration:none href="{{url_for('add')}}"> Add Item </a> 
    </button>
  </div>

{% endblock %}
