{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Lists</h2>
        <ul class="list-group mb-4">
          {% for item in items %}  
            <li style="color: blue; font-size: 35px;"><p style="color:blue; margin:0, size=20px">{{ item['name'] }} </li>  
              <ul class="list-group mb-4">
                {% for card in item['cards'] %}  
                  <li style="color: blue; font-size: 25px;">{{ card['name'] }} </li>  
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('update_progress', card_id=card['id'], name=card['name'])}}"> Update </a> 
                  </button>
                  <button type="button" style="width: fit-content;">
                    <a style="text-decoration:none" href="{{url_for('delete', card_id=card['id'])}}"> Delete </a> 
                  </button>
      
                {% endfor %} 
              </ul>
          {% endfor %} 
        </ul>
    </div>
  </div>
  <div>
    <button >
      <a style=text-decoration:none href="{{url_for('add')}}"> Add Item </a> 
    </button>
  </div>

{% endblock %}
